In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

In [2]:
# load day dataset in analytics bikesharing
days_df = pd.read_csv("data/day.csv")
days_df.sample(15)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
579,580,2012-08-02,3,1,8,0,4,1,1,0.752500,0.707088,0.659583,0.129354,983,6278,7261
46,47,2011-02-16,1,0,2,0,3,1,1,0.318261,0.316200,0.423478,0.251791,218,1897,2115
605,606,2012-08-28,3,1,8,0,2,1,1,0.728333,0.666050,0.620000,0.190925,935,6105,7040
580,581,2012-08-03,3,1,8,0,5,1,2,0.765833,0.722867,0.642500,0.215792,1328,5847,7175
457,458,2012-04-02,2,1,4,0,1,1,1,0.433913,0.427513,0.504348,0.312139,1208,4728,5936
279,280,2011-10-07,4,0,10,0,5,1,1,0.510833,0.504404,0.684167,0.022392,949,4036,4985
341,342,2011-12-08,4,0,12,0,4,1,1,0.265833,0.256938,0.580000,0.240058,150,3172,3322
146,147,2011-05-27,2,0,5,0,5,1,1,0.681667,0.637008,0.653750,0.240679,871,3808,4679
660,661,2012-10-22,4,1,10,0,1,1,1,0.487500,0.482942,0.568333,0.081483,830,6228,7058
475,476,2012-04-20,2,1,4,0,5,1,1,0.526667,0.515775,0.694583,0.149871,1340,5950,7290
8,9,2011-01-09,1,0,1,0,0,0,1,0.138333,0.116175,0.434167,0.361950,54,768,822
690,691,2012-11-21,4,1,11,0,3,1,1,0.353333,0.364892,0.613750,0.103246,615,4531,5146
723,724,2012-12-24,1,1,12,0,1,1,2,0.231304,0.258900,0.791304,0.077230,174,746,920
611,612,2012-09-03,3,1,9,1,1,0,1,0.707500,0.661629,0.790833,0.151121,1965,4069,6034
423,424,2012-02-28,1,1,2,0,2,1,1,0.359167,0.353525,0.395833,0.193417,229,4134,4363

In [3]:

# Assesing value each columns in dataset day 
days_df.info()
days_df.isna().sum()

# Checking duplicated data
print("Jumlah data duplikat:", days_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
Jumlah data duplikat: 0

In [4]:
days_df.describe() # Checking summary statistik

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [5]:
# Load dataset hours
hours_df = pd.read_csv("data/hour.csv")
hours_df.sample(15)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
10302,10303,2012-03-10,1,1,3,8,0,6,0,1,0.22,0.2121,0.44,0.2985,15,96,111
3270,3271,2011-05-21,2,0,5,4,0,6,0,1,0.46,0.4545,0.88,0.1343,1,6,7
11043,11044,2012-04-10,2,1,4,7,0,2,1,1,0.34,0.3485,0.71,0.1045,16,368,384
9826,9827,2012-02-19,1,1,2,9,0,0,0,2,0.24,0.2273,0.56,0.2537,20,73,93
7460,7461,2011-11-12,4,0,11,11,0,6,0,1,0.38,0.3939,0.54,0.2836,102,213,315
15132,15133,2012-09-27,4,1,9,17,0,4,1,2,0.66,0.6212,0.69,0.2985,87,818,905
4150,4151,2011-06-26,3,0,6,20,0,0,0,2,0.70,0.6515,0.48,0.1045,55,158,213
12691,12692,2012-06-18,2,1,6,0,0,1,1,1,0.56,0.5303,0.73,0.2537,12,28,40
10606,10607,2012-03-23,2,1,3,1,0,5,1,1,0.54,0.5152,0.88,0.0000,18,32,50
8689,8690,2012-01-02,1,1,1,21,1,1,0,2,0.24,0.2121,0.41,0.3284,3,63,66
4877,4878,2011-07-27,3,0,7,3,0,3,1,1,0.72,0.6667,0.58,0.1642,0,4,4
2039,2040,2011-03-30,2,0,3,20,0,3,1,3,0.24,0.2121,0.93,0.2985,4,40,44
7810,7811,2011-11-27,4,0,11,1,0,0,0,1,0.36,0.3788,0.81,0.0000,9,35,44
15608,15609,2012-10-17,4,1,10,13,0,3,1,2,0.54,0.5152,0.49,0.1343,73,237,310
12826,12827,2012-06-23,3,1,6,15,0,6,0,1,0.84,0.7273,0.30,0.3284,217,266,483

In [6]:
# Assesing value each columns in hours dataset
hours_df.info() # checking missing value

print("Jumlah data duplikat:", hours_df.duplicated().sum()) # checking duplicate data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB
Jumlah data duplikat: 0

In [7]:
# checking summary statistik
hours_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

Hasil dari Assesing Data: 


A. Dataset Days
1. Duplicate : -
2. Missing value : - 
3. Tipe data : 
   1. Datetime : Datetime
4. Summary statistik : -

B. Dataset Hour
1. Duplicate : -
2. Missing Value: -
3. Tipe data: 
   1. Datetime: Datetime
4. Summary statistik: -

Tetapi harus mengubah nama col dari kedua dataset (Days and Hours) tersebut

In [8]:
# Rename coloumn in dataset day
days_df.rename(columns={
    "dteday" : "date_day",
    "yr": "year",
    "mnth" : "month",
    "weathersit" : "weather_situation",
    "hum": "humidity",
    "cnt" : "count"
}, inplace=True)

days_df.head()

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [9]:
# Rename coloumn in dataset hour
hours_df.rename(columns={
    "dteday" : "date_day",
    "yr": "year",
    "hr" : "hour",
    "mnth" : "month",
    "weathersit" : "weather_situation",
    "hum": "humidity",
    "cnt" : "count"
}, inplace=True)

In [10]:
# Change type data column date_day from object to datetime in day dataset
days_df["date_day"] = pd.to_datetime(days_df["date_day"])

days_df.info()
days_df.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            731 non-null    int64
 1   date_day           731 non-null    datetime64[ns]
 2   season             731 non-null    int64
 3   year               731 non-null    int64
 4   month              731 non-null    int64
 5   holiday            731 non-null    int64
 6   weekday            731 non-null    int64
 7   workingday         731 non-null    int64
 8   weather_situation  731 non-null    int64
 9   temp               731 non-null    float64
 10  atemp              731 non-null    float64
 11  humidity           731 non-null    float64
 12  windspeed          731 non-null    float64
 13  casual             731 non-null    int64
 14  registered         731 non-null    int64
 15  count              731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
464,465,2012-04-09,2,1,4,0,1,1,1,0.489167,0.476638,0.317500,0.358196,905,4680,5585
386,387,2012-01-22,1,1,1,0,0,0,2,0.162500,0.162250,0.796250,0.199638,196,1781,1977
283,284,2011-10-11,4,0,10,0,2,1,2,0.566667,0.546096,0.808750,0.143042,667,3896,4563
251,252,2011-09-09,3,0,9,0,5,1,2,0.650000,0.578946,0.897917,0.124379,417,3127,3544
161,162,2011-06-11,2,0,6,0,6,0,1,0.725000,0.678038,0.654583,0.154850,1729,3237,4966
98,99,2011-04-09,2,0,4,0,6,0,2,0.342500,0.341529,0.877500,0.133083,879,1576,2455
701,702,2012-12-02,4,1,12,0,0,0,2,0.347500,0.359208,0.823333,0.124379,892,3757,4649
683,684,2012-11-14,4,1,11,0,3,1,1,0.289167,0.281563,0.552083,0.199625,373,5122,5495
234,235,2011-08-23,3,0,8,0,2,1,1,0.640833,0.606067,0.455417,0.146763,1281,4614,5895
97,98,2011-04-08,2,0,4,0,5,1,2,0.335833,0.324479,0.836250,0.226992,172,1299,1471

In [11]:
# Change type data column date_day from object to datetime in day dataset
hours_df["date_day"] = pd.to_datetime(hours_df["date_day"])

hours_df.info()
hours_df.sample(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            17379 non-null  int64
 1   date_day           17379 non-null  datetime64[ns]
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   holiday            17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   workingday         17379 non-null  int64
 9   weather_situation  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  count              17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 2.3 MB

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
15275,15276,2012-10-03,4,1,10,16,0,3,1,2,0.72,0.6667,0.58,0.0000,42,436,478
7378,7379,2011-11-09,4,0,11,1,0,3,1,1,0.34,0.3636,0.87,0.0000,0,10,10
11160,11161,2012-04-15,2,1,4,5,0,0,0,1,0.50,0.4848,0.68,0.1642,4,6,10
4388,4389,2011-07-06,3,0,7,18,0,3,1,1,0.76,0.7121,0.62,0.1940,77,486,563
6700,6701,2011-10-11,4,0,10,18,0,2,1,2,0.60,0.5758,0.78,0.2239,46,493,539
14797,14798,2012-09-13,3,1,9,18,0,4,1,1,0.68,0.6364,0.57,0.2537,108,744,852
5889,5890,2011-09-07,3,0,9,21,0,3,1,3,0.64,0.5758,0.89,0.0896,4,34,38
12036,12037,2012-05-21,2,1,5,17,0,1,1,2,0.66,0.6212,0.69,0.2537,40,468,508
11906,11907,2012-05-16,2,1,5,7,0,3,1,1,0.56,0.5303,0.83,0.0000,14,426,440
4750,4751,2011-07-21,3,0,7,20,0,4,1,1,0.84,0.8939,0.71,0.2239,38,199,237
11347,11348,2012-04-23,2,1,4,0,0,1,1,3,0.36,0.3333,0.81,0.4179,0,6,6
6147,6148,2011-09-18,3,0,9,17,0,0,0,2,0.56,0.5303,0.64,0.1940,95,230,325
13146,13147,2012-07-06,3,1,7,23,0,5,1,1,0.80,0.7879,0.63,0.1045,27,137,164
12727,12728,2012-06-19,2,1,6,12,0,2,1,1,0.70,0.6515,0.65,0.0896,70,222,292
8032,8033,2011-12-06,4,0,12,8,0,2,1,2,0.46,0.4545,0.94,0.1940,13,401,414

In [12]:
# Change value in coloumn season Day dataset
days_df["season"] = pd.Categorical(
    days_df["season"].replace({1:"Spring", 2: "Summer", 3: "Autumn", 4: "Winter"}), categories=["Spring", "Summer", "Autumn", "Winter"]
)


days_df.sample(10)

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
706,707,2012-12-07,Winter,1,12,0,5,1,2,0.320833,0.321958,0.764167,0.130600,349,4659,5008
52,53,2011-02-22,Spring,0,2,0,2,1,1,0.182222,0.186033,0.577778,0.195683,74,1376,1450
691,692,2012-11-22,Winter,1,11,1,4,0,1,0.340000,0.350371,0.580417,0.052871,955,1470,2425
282,283,2011-10-10,Winter,0,10,1,1,0,1,0.570833,0.542925,0.733750,0.042304,1514,3603,5117
118,119,2011-04-29,Summer,0,4,0,5,1,1,0.510000,0.497463,0.457083,0.240063,878,3717,4595
492,493,2012-05-07,Summer,1,5,0,1,1,2,0.537500,0.527142,0.664167,0.230721,1008,5265,6273
263,264,2011-09-21,Autumn,0,9,0,3,1,2,0.595000,0.550533,0.900000,0.096404,539,3813,4352
493,494,2012-05-08,Summer,1,5,0,2,1,2,0.581667,0.557471,0.685833,0.296029,738,4990,5728
110,111,2011-04-21,Summer,0,4,0,4,1,1,0.459167,0.453892,0.407083,0.325258,745,3444,4189
68,69,2011-03-10,Spring,0,3,0,4,1,3,0.389091,0.385668,0.000000,0.261877,46,577,623

In [13]:
# Change value in coloumn weather_situation Day dataset
days_df["weather_situation"] = pd.Categorical(
    days_df["weather_situation"].replace({1:"Sunny", 2: "Cloudy", 3: "Light Rain/Snow", 4: "Heavy Rain/Thunderstorm"}), categories=["Sunny", "Cloudy", "Light Rain/Snow", "Heavy Rain/Thunderstorm"]
)

days_df.sample(10)

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
103,104,2011-04-14,Summer,0,4,0,4,1,Sunny,0.467500,0.462742,0.540417,0.110700,529,2738,3267
255,256,2011-09-13,Autumn,0,9,0,2,1,Sunny,0.650833,0.603554,0.712500,0.141804,701,4062,4763
241,242,2011-08-30,Autumn,0,8,0,2,1,Sunny,0.639167,0.594704,0.548333,0.125008,775,4429,5204
40,41,2011-02-10,Spring,0,2,0,4,1,Sunny,0.144348,0.149548,0.437391,0.221935,47,1491,1538
80,81,2011-03-22,Summer,0,3,0,2,1,Sunny,0.441667,0.440642,0.624583,0.225750,460,2243,2703
228,229,2011-08-17,Autumn,0,8,0,3,1,Sunny,0.723333,0.666671,0.575417,0.143667,668,4026,4694
570,571,2012-07-24,Autumn,1,7,0,2,1,Sunny,0.750833,0.706450,0.655000,0.211454,1140,6452,7592
167,168,2011-06-17,Summer,0,6,0,5,1,Sunny,0.649167,0.600383,0.735833,0.143029,863,3981,4844
379,380,2012-01-15,Spring,1,1,0,0,0,Sunny,0.166667,0.161625,0.419167,0.251258,284,2027,2311
482,483,2012-04-27,Summer,1,4,0,5,1,Sunny,0.457500,0.452637,0.400833,0.347633,1014,5219,6233

In [14]:
# Change value in coloumn weekday Day dataset
days_df["weekday"] = pd.Categorical(
    days_df["weekday"].replace({0: "Sunday", 1:"Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"}), categories=["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
)

days_df.sample(10)

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
706,707,2012-12-07,Winter,1,12,0,Friday,1,Cloudy,0.320833,0.321958,0.764167,0.130600,349,4659,5008
57,58,2011-02-27,Spring,0,2,0,Sunday,0,Sunny,0.343478,0.351109,0.680000,0.125248,694,1708,2402
381,382,2012-01-17,Spring,1,1,0,Tuesday,1,Cloudy,0.373043,0.364278,0.716087,0.349130,127,2808,2935
42,43,2011-02-12,Spring,0,2,0,Saturday,0,Sunny,0.222500,0.232954,0.544167,0.203367,288,1184,1472
398,399,2012-02-03,Spring,1,2,0,Friday,1,Sunny,0.313333,0.309346,0.526667,0.178496,310,3841,4151
66,67,2011-03-08,Spring,0,3,0,Tuesday,1,Sunny,0.292500,0.302400,0.420833,0.120650,316,1817,2133
273,274,2011-10-01,Winter,0,10,0,Saturday,0,Cloudy,0.410000,0.412863,0.753750,0.292296,480,1949,2429
303,304,2011-10-31,Winter,0,10,0,Monday,1,Sunny,0.340000,0.356063,0.703333,0.106350,362,3307,3669
421,422,2012-02-26,Spring,1,2,0,Sunday,0,Sunny,0.279167,0.268308,0.410000,0.205229,515,2874,3389
126,127,2011-05-07,Summer,0,5,0,Saturday,0,Sunny,0.520000,0.512621,0.541250,0.160450,1612,3102,4714

In [15]:
# Change value in coloumn season Hour dataset
hours_df["season"] = pd.Categorical(
    hours_df["season"].replace({1:"Spring", 2: "Summer", 3: "Autumn", 4: "Winter"}), categories=["Spring", "Summer", "Autumn", "Winter"]
)


hours_df.sample(15)

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
11816,11817,2012-05-12,Summer,1,5,13,0,6,0,1,0.64,0.6212,0.36,0.1940,293,366,659
520,521,2011-01-23,Spring,0,1,19,0,0,0,1,0.12,0.1212,0.30,0.2836,5,45,50
16252,16253,2012-11-14,Winter,1,11,22,0,3,1,1,0.28,0.3182,0.61,0.0000,6,167,173
13244,13245,2012-07-11,Autumn,1,7,1,0,3,1,1,0.64,0.5758,0.89,0.0000,3,11,14
6845,6846,2011-10-17,Winter,0,10,19,0,1,1,1,0.54,0.5152,0.68,0.1045,45,288,333
11235,11236,2012-04-18,Summer,1,4,8,0,3,1,3,0.50,0.4848,0.39,0.1940,25,551,576
15345,15346,2012-10-06,Winter,1,10,14,0,6,0,2,0.60,0.6212,0.56,0.4179,269,307,576
322,323,2011-01-14,Spring,0,1,22,0,5,1,2,0.16,0.2273,0.69,0.0000,2,34,36
16345,16346,2012-11-18,Winter,1,11,19,0,0,0,1,0.36,0.3485,0.66,0.1642,16,194,210
11804,11805,2012-05-12,Summer,1,5,1,0,6,0,1,0.50,0.4848,0.48,0.0000,14,79,93
539,540,2011-01-24,Spring,0,1,15,0,1,1,1,0.16,0.1667,0.40,0.1642,7,50,57
16875,16876,2012-12-10,Winter,1,12,22,0,1,1,2,0.50,0.4848,0.82,0.2239,11,115,126
15094,15095,2012-09-26,Winter,1,9,3,0,3,1,2,0.58,0.5455,0.64,0.2836,4,6,10
12953,12954,2012-06-28,Autumn,1,6,22,0,4,1,1,0.76,0.6970,0.52,0.1642,50,224,274
4493,4494,2011-07-11,Autumn,0,7,3,0,1,1,1,0.68,0.6364,0.65,0.1642,2,8,10

In [16]:
# Change value in coloumn weather_situation Day dataset
hours_df["weather_situation"] = pd.Categorical(
    hours_df["weather_situation"].replace({1:"Sunny", 2: "Cloudy", 3: "Light Rain/Snow", 4: "Heavy Rain/Thunderstorm"}), categories=["Sunny", "Cloudy", "Light Rain/Snow", "Heavy Rain/Thunderstorm"]
)

hours_df.sample(10)

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
16571,16572,2012-11-28,Winter,1,11,5,0,3,1,Cloudy,0.26,0.2727,0.70,0.1343,0,39,39
640,641,2011-01-29,Spring,0,1,23,0,6,0,Sunny,0.16,0.1970,0.80,0.0896,3,30,33
9234,9235,2012-01-25,Spring,1,1,16,0,3,1,Sunny,0.34,0.3333,0.53,0.1642,29,217,246
13102,13103,2012-07-05,Autumn,1,7,3,0,4,1,Sunny,0.72,0.6667,0.54,0.1940,2,5,7
1162,1163,2011-02-21,Spring,0,2,5,1,1,0,Cloudy,0.34,0.3636,0.36,0.0000,1,2,3
13475,13476,2012-07-20,Autumn,1,7,16,0,5,1,Cloudy,0.68,0.6364,0.83,0.3284,70,366,436
1277,1278,2011-02-26,Spring,0,2,9,0,6,0,Cloudy,0.26,0.2576,0.56,0.1642,9,65,74
15072,15073,2012-09-25,Winter,1,9,5,0,2,1,Sunny,0.42,0.4242,0.77,0.0896,1,46,47
13494,13495,2012-07-21,Autumn,1,7,11,0,6,0,Cloudy,0.60,0.5606,0.83,0.2537,80,225,305
15394,15395,2012-10-08,Winter,1,10,15,1,1,0,Light Rain/Snow,0.42,0.4242,0.58,0.1940,76,294,370

In [17]:
# Change value in coloumn weekday Hours dataset
hours_df["weekday"] = pd.Categorical(
    hours_df["weekday"].replace({0:"Sunday",1:"Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"}), categories=["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
)

hours_df.sample(10)

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
10503,10504,2012-03-18,Spring,1,3,18,0,Sunday,0,Sunny,0.56,0.5303,0.64,0.1642,165,294,459
16525,16526,2012-11-26,Winter,1,11,7,0,Monday,1,Sunny,0.24,0.2879,0.65,0.0000,2,363,365
3815,3816,2011-06-12,Summer,0,6,21,0,Sunday,0,Sunny,0.66,0.6061,0.83,0.1045,39,101,140
9525,9526,2012-02-06,Spring,1,2,20,0,Monday,1,Sunny,0.34,0.3333,0.46,0.1642,7,194,201
10621,10622,2012-03-23,Summer,1,3,16,0,Friday,1,Cloudy,0.72,0.6515,0.42,0.1642,219,370,589
8786,8787,2012-01-06,Spring,1,1,22,0,Friday,1,Sunny,0.36,0.3485,0.50,0.1940,12,123,135
9925,9926,2012-02-23,Spring,1,2,14,0,Thursday,1,Sunny,0.54,0.5152,0.37,0.2537,36,156,192
16213,16214,2012-11-13,Winter,1,11,7,0,Tuesday,1,Light Rain/Snow,0.32,0.3030,0.87,0.2537,1,106,107
9617,9618,2012-02-10,Spring,1,2,16,0,Friday,1,Cloudy,0.34,0.3182,0.42,0.2537,28,240,268
12258,12259,2012-05-30,Summer,1,5,23,0,Wednesday,1,Sunny,0.66,0.6212,0.65,0.1045,39,121,160

Exploratory Data Analysis (EDA)