In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

In [ ]:
# load dataset bike sharing
days_df = pd.read_csv("data/day.csv")
days_df.head(20)

# menilai dataset days_df
days_df.info()
days_df.isna().sum()

# memeriksa data duplikasi
print("Jumlah data duplikat:", days_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
Jumlah data duplikat: 0

In [ ]:
hours_df = pd.read_csv("data/hour.csv")
hours_df.sample(15)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
16662,16663,2012-12-02,4,1,12,1,0,0,0,2,0.30,0.3182,0.87,0.0896,10,84,94
15951,15952,2012-11-02,4,1,11,8,0,5,1,1,0.32,0.3333,0.57,0.1045,31,656,687
9122,9123,2012-01-21,1,1,1,0,0,6,0,3,0.16,0.1515,0.64,0.2239,0,24,24
15633,15634,2012-10-18,4,1,10,14,0,4,1,2,0.62,0.6212,0.50,0.2985,94,191,285
7935,7936,2011-12-02,4,0,12,7,0,5,1,1,0.22,0.2576,0.87,0.0896,6,199,205
12407,12408,2012-06-06,2,1,6,4,0,3,1,1,0.46,0.4545,0.82,0.1045,3,7,10
14729,14730,2012-09-10,3,1,9,22,0,1,1,1,0.54,0.5152,0.52,0.1343,15,144,159
14963,14964,2012-09-20,3,1,9,16,0,4,1,1,0.64,0.6212,0.47,0.1642,72,385,457
14488,14489,2012-08-31,3,1,8,21,0,5,1,1,0.76,0.7121,0.58,0.1940,71,232,303
13836,13837,2012-08-04,3,1,8,17,0,6,0,1,0.88,0.7879,0.37,0.2985,179,313,492
3829,3830,2011-06-13,2,0,6,11,0,1,1,1,0.66,0.6212,0.41,0.2985,53,106,159
4220,4221,2011-06-29,3,0,6,18,0,3,1,1,0.80,0.6970,0.29,0.2985,78,510,588
9498,9499,2012-02-05,1,1,2,16,0,0,0,1,0.30,0.2879,0.56,0.2239,35,261,296
10188,10189,2012-03-05,1,1,3,14,0,1,1,2,0.28,0.2576,0.57,0.3582,13,115,128
4581,4582,2011-07-14,3,0,7,19,0,4,1,1,0.72,0.6515,0.39,0.2239,67,333,400