In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

In [51]:
# load day dataset in analytics bikesharing
days_df = pd.read_csv("data/day.csv")
days_df.sample(15)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
270,271,2011-09-28,4,0,9,0,3,1,2,0.635000,0.575158,0.848750,0.148629,480,3427,3907
268,269,2011-09-26,4,0,9,0,1,1,2,0.649167,0.589042,0.848333,0.110700,684,3946,4630
32,33,2011-02-02,1,0,2,0,3,1,2,0.260000,0.254417,0.775417,0.264308,72,1454,1526
60,61,2011-03-02,1,0,3,0,3,1,1,0.335000,0.320071,0.449583,0.307833,231,1903,2134
173,174,2011-06-23,3,0,6,0,4,1,2,0.728333,0.693833,0.703333,0.238804,746,4044,4790
543,544,2012-06-27,3,1,6,0,3,1,1,0.697500,0.640792,0.360000,0.271775,1077,6258,7335
506,507,2012-05-21,2,1,5,0,1,1,2,0.598333,0.565667,0.811250,0.233204,630,3729,4359
463,464,2012-04-08,2,1,4,0,0,0,1,0.500000,0.492425,0.275833,0.232596,2230,2939,5169
458,459,2012-04-03,2,1,4,0,2,1,1,0.466667,0.461483,0.396667,0.100133,1348,5424,6772
261,262,2011-09-19,3,0,9,0,1,1,2,0.549167,0.529675,0.690000,0.151742,691,3848,4539
454,455,2012-03-30,2,1,3,0,5,1,2,0.370000,0.375621,0.580833,0.138067,796,4663,5459
12,13,2011-01-13,1,0,1,0,4,1,1,0.165000,0.150883,0.470417,0.301000,38,1368,1406
116,117,2011-04-27,2,0,4,0,3,1,2,0.620000,0.575142,0.835417,0.312200,547,3325,3872
613,614,2012-09-05,3,1,9,0,3,1,1,0.736667,0.708983,0.741250,0.187808,832,6280,7112
591,592,2012-08-14,3,1,8,0,2,1,1,0.726667,0.676779,0.686667,0.169158,1128,5656,6784

In [52]:

# Assesing value each columns in dataset day 
days_df.info()
days_df.isna().sum()

# Checking duplicated data
print("Jumlah data duplikat:", days_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
Jumlah data duplikat: 0

In [53]:
days_df.describe() # Checking summary statistik

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [54]:
# Load dataset hours
hours_df = pd.read_csv("data/hour.csv")
hours_df.sample(15)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
6542,6543,2011-10-05,4,0,10,4,0,3,1,1,0.44,0.4394,0.88,0.0000,1,4,5
2038,2039,2011-03-30,2,0,3,19,0,3,1,2,0.26,0.2576,0.93,0.2239,5,67,72
6544,6545,2011-10-05,4,0,10,6,0,3,1,1,0.44,0.4394,0.82,0.1045,5,112,117
5996,5997,2011-09-12,3,0,9,10,0,1,1,1,0.68,0.6364,0.62,0.1642,40,89,129
2750,2751,2011-04-29,2,0,4,12,0,5,1,1,0.56,0.5303,0.37,0.2836,63,160,223
7496,7497,2011-11-13,4,0,11,23,0,0,0,1,0.46,0.4545,0.51,0.2985,18,49,67
1084,1085,2011-02-17,1,0,2,22,0,4,1,1,0.50,0.4848,0.59,0.2836,8,68,76
6329,6330,2011-09-26,4,0,9,7,0,1,1,2,0.62,0.5455,0.94,0.0000,17,315,332
15374,15375,2012-10-07,4,1,10,19,0,0,0,2,0.40,0.4091,0.82,0.1045,17,97,114
2072,2073,2011-04-01,2,0,4,5,0,5,1,3,0.24,0.2273,0.93,0.2239,1,11,12
15981,15982,2012-11-03,4,1,11,14,0,6,0,2,0.36,0.3333,0.50,0.3284,136,319,455
12162,12163,2012-05-26,2,1,5,23,0,6,0,1,0.70,0.6667,0.74,0.2537,36,114,150
3451,3452,2011-05-28,2,0,5,17,0,6,0,1,0.74,0.6818,0.55,0.2985,180,161,341
13654,13655,2012-07-28,3,1,7,3,0,6,0,1,0.72,0.6818,0.70,0.0000,10,33,43
11229,11230,2012-04-18,2,1,4,2,0,3,1,2,0.50,0.4848,0.42,0.1940,1,8,9

In [55]:
# Assesing value each columns in hours dataset
hours_df.info() # checking missing value

print("Jumlah data duplikat:", hours_df.duplicated().sum()) # checking duplicate data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB
Jumlah data duplikat: 0

In [56]:
# checking summary statistik
hours_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

Hasil dari Assesing Data: 


A. Dataset Days
1. Duplicate : -
2. Missing value : - 
3. Tipe data : 
   1. Datetime : Datetime
4. Summary statistik : -

B. Dataset Hour
1. Duplicate : -
2. Missing Value: -
3. Tipe data: 
   1. Datetime: Datetime
4. Summary statistik: -

Tetapi harus mengubah nama col dari kedua dataset (Days and Hours) tersebut

In [57]:
# Rename coloumn in dataset day
days_df.rename(columns={
    "dteday" : "date_day",
    "yr": "year",
    "mnth" : "month",
    "weathersit" : "weather_situation",
    "hum": "humidity",
    "cnt" : "count"
}, inplace=True)

days_df.head()

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [58]:
# Rename coloumn in dataset hour
hours_df.rename(columns={
    "dteday" : "date_day",
    "yr": "year",
    "hr" : "hour",
    "mnth" : "month",
    "weathersit" : "weather_situation",
    "hum": "humidity",
    "cnt" : "count"
}, inplace=True)

In [59]:
# Change type data column date_day from object to datetime in day dataset
days_df["date_day"] = pd.to_datetime(days_df["date_day"])

days_df.info()
days_df.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            731 non-null    int64
 1   date_day           731 non-null    datetime64[ns]
 2   season             731 non-null    int64
 3   year               731 non-null    int64
 4   month              731 non-null    int64
 5   holiday            731 non-null    int64
 6   weekday            731 non-null    int64
 7   workingday         731 non-null    int64
 8   weather_situation  731 non-null    int64
 9   temp               731 non-null    float64
 10  atemp              731 non-null    float64
 11  humidity           731 non-null    float64
 12  windspeed          731 non-null    float64
 13  casual             731 non-null    int64
 14  registered         731 non-null    int64
 15  count              731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
560,561,2012-07-14,3,1,7,0,6,0,2,0.703333,0.666042,0.699167,0.143679,2355,4614,6969
467,468,2012-04-12,2,1,4,0,4,1,1,0.397500,0.387604,0.466250,0.290429,663,4746,5409
284,285,2011-10-12,4,0,10,0,3,1,3,0.543333,0.517717,0.906250,0.248150,217,2199,2416
366,367,2012-01-02,1,1,1,1,1,0,1,0.273043,0.252304,0.381304,0.329665,244,1707,1951
706,707,2012-12-07,4,1,12,0,5,1,2,0.320833,0.321958,0.764167,0.130600,349,4659,5008
93,94,2011-04-04,2,0,4,0,1,1,1,0.573333,0.542929,0.426250,0.385571,734,2381,3115
270,271,2011-09-28,4,0,9,0,3,1,2,0.635000,0.575158,0.848750,0.148629,480,3427,3907
163,164,2011-06-13,2,0,6,0,1,1,1,0.635000,0.601654,0.494583,0.305350,863,4157,5020
210,211,2011-07-30,3,0,7,0,6,0,1,0.804167,0.728537,0.465833,0.168537,1559,2916,4475
73,74,2011-03-15,1,0,3,0,2,1,2,0.317391,0.318178,0.655652,0.184309,289,1767,2056

In [62]:
# Change type data column date_day from object to datetime in day dataset
hours_df["date_day"] = pd.to_datetime(hours_df["date_day"])

hours_df.info()
hours_df.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            17379 non-null  int64
 1   date_day           17379 non-null  datetime64[ns]
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   holiday            17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   workingday         17379 non-null  int64
 9   weather_situation  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  count              17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 2.3 MB

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
5549,5550,2011-08-24,3,0,8,3,0,3,1,1,0.58,0.5455,0.68,0.1343,0,1,1
5881,5882,2011-09-07,3,0,9,13,0,3,1,3,0.60,0.5455,0.88,0.0000,2,9,11
5748,5749,2011-09-01,3,0,9,23,0,4,1,1,0.64,0.6061,0.65,0.2537,15,111,126
8249,8250,2011-12-15,4,0,12,9,0,4,1,2,0.36,0.3333,0.62,0.2836,6,274,280
16930,16931,2012-12-13,4,1,12,5,0,4,1,2,0.26,0.2576,0.56,0.1642,2,31,33
343,344,2011-01-15,1,0,1,19,0,6,0,2,0.32,0.3030,0.39,0.2537,14,60,74
2832,2833,2011-05-02,2,0,5,22,0,1,1,2,0.60,0.5909,0.73,0.0000,28,97,125
7283,7284,2011-11-05,4,0,11,2,0,6,0,1,0.30,0.2727,0.52,0.3284,7,24,31
16359,16360,2012-11-19,4,1,11,9,0,1,1,2,0.36,0.3333,0.66,0.2537,18,260,278
11757,11758,2012-05-10,2,1,5,2,0,4,1,2,0.48,0.4697,0.88,0.1045,0,3,3