In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

In [ ]:
# load day dataset in analytics bikesharing
days_df = pd.read_csv("data/day.csv")
days_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [ ]:

# Assesing value each columns in dataset day 
days_df.info()
days_df.isna().sum()

# Checking duplicated data
print("Jumlah data duplikat:", days_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
Jumlah data duplikat: 0

In [ ]:
days_df.describe() # Checking summary statistik

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [ ]:
# Load dataset hours
hours_df = pd.read_csv("data/hour.csv")
hours_df.sample(15)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
3446,3447,2011-05-28,2,0,5,12,0,6,0,1,0.72,0.6667,0.58,0.2537,145,213,358
12053,12054,2012-05-22,2,1,5,10,0,2,1,2,0.60,0.5758,0.78,0.0896,52,148,200
174,175,2011-01-08,1,0,1,13,0,6,0,1,0.20,0.1818,0.44,0.3284,7,95,102
16747,16748,2012-12-05,4,1,12,14,0,3,1,1,0.48,0.4697,0.33,0.4925,39,179,218
13865,13866,2012-08-05,3,1,8,22,0,0,0,1,0.72,0.6970,0.79,0.0896,57,100,157
8217,8218,2011-12-14,4,0,12,1,0,3,1,1,0.26,0.3030,0.75,0.0000,0,8,8
12409,12410,2012-06-06,2,1,6,6,0,3,1,1,0.48,0.4697,0.77,0.0000,7,165,172
3298,3299,2011-05-22,2,0,5,8,0,0,0,1,0.60,0.5909,0.73,0.0896,29,65,94
1020,1021,2011-02-15,1,0,2,5,0,2,1,1,0.22,0.1818,0.32,0.4627,0,4,4
15443,15444,2012-10-10,4,1,10,16,0,3,1,1,0.60,0.6212,0.40,0.2239,92,474,566
16731,16732,2012-12-04,4,1,12,22,0,2,1,2,0.50,0.4848,0.63,0.2985,26,155,181
1396,1397,2011-03-03,1,0,3,11,0,4,1,1,0.20,0.2273,0.29,0.0896,10,40,50
16945,16946,2012-12-13,4,1,12,20,0,4,1,1,0.30,0.3333,0.45,0.0000,6,235,241
12803,12804,2012-06-22,3,1,6,16,0,5,1,1,0.90,0.8030,0.31,0.2239,67,313,380
16082,16083,2012-11-07,4,1,11,19,0,3,1,2,0.30,0.2727,0.56,0.2985,17,302,319

In [ ]:
# Assesing value each columns in hours dataset
hours_df.info() # checking missing value

print("Jumlah data duplikat:", hours_df.duplicated().sum()) # checking duplicate data

In [ ]:
# checking summary statistik
hours_df.describe()

Hasil dari Assesing Data: 


A. Dataset Days
1. Duplicate : -
2. Missing value : - 
3. Tipe data : 
   1. Datetime : Datetime
4. Summary statistik : -

B. Dataset Hour
1. Duplicate : -
2. Missing Value: -
3. Tipe data: 
   1. Datetime: Datetime
4. Summary statistik: -

Tetapi harus mengubah nama col dari kedua dataset (Days and Hours) tersebut

In [ ]:
# Rename coloumn in dataset day
days_df.rename(columns={
    "dteday" : "date_day",
    "yr": "year",
    "mnth" : "month",
    "weathersit" : "weather_situation",
    "hum": "humidity",
    "cnt" : "count"
})

In [12]:
# Rename coloumn in dataset hour
hours_df.rename(columns={
    "dteday" : "date_day",
    "yr": "year",
    "hr" : "hour",
    "mnth" : "month",
    "weathersit" : "weather_situation",
    "hum": "humidity",
    "cnt" : "count"
})

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49