In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

In [19]:
# load day dataset in analytics bikesharing
days_df = pd.read_csv("data/day.csv")
days_df.sample(15)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
533,534,2012-06-17,2,1,6,0,0,0,1,0.592500,0.571975,0.598750,0.144904,2634,4344,6978
347,348,2011-12-14,4,0,12,0,3,1,2,0.317500,0.338362,0.663750,0.060958,178,3562,3740
489,490,2012-05-04,2,1,5,0,5,1,1,0.627500,0.590917,0.735417,0.162938,1069,5227,6296
319,320,2011-11-16,4,0,11,0,3,1,3,0.456667,0.451988,0.930000,0.136829,145,1672,1817
110,111,2011-04-21,2,0,4,0,4,1,1,0.459167,0.453892,0.407083,0.325258,745,3444,4189
177,178,2011-06-27,3,0,6,0,1,1,2,0.682500,0.637004,0.658333,0.107588,854,3854,4708
227,228,2011-08-16,3,0,8,0,2,1,1,0.700833,0.645837,0.578333,0.236329,721,4004,4725
676,677,2012-11-07,4,1,11,0,3,1,2,0.295833,0.274621,0.547500,0.304108,326,4709,5035
88,89,2011-03-30,2,0,3,0,3,1,2,0.300000,0.297350,0.646667,0.172888,168,1368,1536
370,371,2012-01-06,1,1,1,0,5,1,1,0.334167,0.340267,0.542083,0.167908,307,3791,4098
609,610,2012-09-01,3,1,9,0,6,0,2,0.753333,0.702654,0.638333,0.113187,2352,3788,6140
257,258,2011-09-15,3,0,9,0,4,1,2,0.577500,0.553671,0.709167,0.271146,428,3231,3659
315,316,2011-11-12,4,0,11,0,6,0,1,0.356667,0.357942,0.552917,0.212062,1275,2792,4067
70,71,2011-03-12,1,0,3,0,6,0,1,0.329167,0.325750,0.594583,0.220775,724,1408,2132
714,715,2012-12-15,4,1,12,0,6,0,1,0.324167,0.338383,0.650417,0.106350,767,4280,5047

In [20]:

# Assesing value each columns in dataset day 
days_df.info()
days_df.isna().sum()

# Checking duplicated data
print("Jumlah data duplikat:", days_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
Jumlah data duplikat: 0

In [21]:
days_df.describe() # Checking summary statistik

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [22]:
# Load dataset hours
hours_df = pd.read_csv("data/hour.csv")
hours_df.sample(15)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
16946,16947,2012-12-13,4,1,12,21,0,4,1,1,0.28,0.3182,0.48,0.0000,13,200,213
15474,15475,2012-10-11,4,1,10,23,0,4,1,1,0.42,0.4242,0.58,0.0896,10,176,186
13193,13194,2012-07-08,3,1,7,22,0,0,0,3,0.74,0.6970,0.70,0.0896,12,110,122
1747,1748,2011-03-18,1,0,3,12,0,5,1,2,0.56,0.5303,0.49,0.3582,72,123,195
15759,15760,2012-10-23,4,1,10,20,0,2,1,1,0.58,0.5455,0.64,0.1343,45,334,379
10517,10518,2012-03-19,1,1,3,8,0,1,1,1,0.46,0.4545,0.88,0.1045,16,563,579
7286,7287,2011-11-05,4,0,11,5,0,6,0,1,0.26,0.2273,0.60,0.3284,0,2,2
779,780,2011-02-04,1,0,2,22,0,5,1,2,0.24,0.2424,0.65,0.1642,1,45,46
15450,15451,2012-10-10,4,1,10,23,0,3,1,1,0.44,0.4394,0.58,0.1940,17,119,136
1789,1790,2011-03-20,1,0,3,6,0,0,0,1,0.26,0.2576,0.60,0.2239,1,3,4
8114,8115,2011-12-09,4,0,12,18,0,5,1,1,0.34,0.3636,0.61,0.0000,10,308,318
6867,6868,2011-10-18,4,0,10,17,0,2,1,1,0.60,0.6061,0.60,0.1343,72,553,625
5016,5017,2011-08-01,3,0,8,22,0,1,1,1,0.70,0.6515,0.70,0.0896,21,116,137
4127,4128,2011-06-25,3,0,6,21,0,6,0,1,0.68,0.6364,0.51,0.1642,62,140,202
7290,7291,2011-11-05,4,0,11,9,0,6,0,1,0.30,0.2727,0.56,0.2985,30,111,141

In [23]:
# Assesing value each columns in hours dataset
hours_df.info() # checking missing value

print("Jumlah data duplikat:", hours_df.duplicated().sum()) # checking duplicate data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB
Jumlah data duplikat: 0

In [24]:
# checking summary statistik
hours_df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

Hasil dari Assesing Data: 


A. Dataset Days
1. Duplicate : -
2. Missing value : - 
3. Tipe data : 
   1. Datetime : Datetime
4. Summary statistik : -

B. Dataset Hour
1. Duplicate : -
2. Missing Value: -
3. Tipe data: 
   1. Datetime: Datetime
4. Summary statistik: -

Tetapi harus mengubah nama col dari kedua dataset (Days and Hours) tersebut

In [25]:
# Rename coloumn in dataset day
days_df.rename(columns={
    "dteday" : "date_day",
    "yr": "year",
    "mnth" : "month",
    "weathersit" : "weather_situation",
    "hum": "humidity",
    "cnt" : "count"
}, inplace=True)

days_df.head()

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [26]:
# Rename coloumn in dataset hour
hours_df.rename(columns={
    "dteday" : "date_day",
    "yr": "year",
    "hr" : "hour",
    "mnth" : "month",
    "weathersit" : "weather_situation",
    "hum": "humidity",
    "cnt" : "count"
}, inplace=True)

In [27]:
# Change type data column date_day from object to datetime in day dataset
days_df["date_day"] = pd.to_datetime(days_df["date_day"])

days_df.info()
days_df.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            731 non-null    int64
 1   date_day           731 non-null    datetime64[ns]
 2   season             731 non-null    int64
 3   year               731 non-null    int64
 4   month              731 non-null    int64
 5   holiday            731 non-null    int64
 6   weekday            731 non-null    int64
 7   workingday         731 non-null    int64
 8   weather_situation  731 non-null    int64
 9   temp               731 non-null    float64
 10  atemp              731 non-null    float64
 11  humidity           731 non-null    float64
 12  windspeed          731 non-null    float64
 13  casual             731 non-null    int64
 14  registered         731 non-null    int64
 15  count              731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
217,218,2011-08-06,3,0,8,0,6,0,2,0.716667,0.676154,0.755000,0.228250,1521,2773,4294
156,157,2011-06-06,2,0,6,0,1,1,1,0.678333,0.621858,0.600000,0.121896,673,3875,4548
506,507,2012-05-21,2,1,5,0,1,1,2,0.598333,0.565667,0.811250,0.233204,630,3729,4359
38,39,2011-02-08,1,0,2,0,2,1,1,0.220833,0.198246,0.537917,0.361950,64,1466,1530
610,611,2012-09-02,3,1,9,0,0,0,2,0.696667,0.649000,0.815000,0.064071,2613,3197,5810
583,584,2012-08-06,3,1,8,0,1,1,2,0.752500,0.710246,0.654167,0.129354,1233,5780,7013
238,239,2011-08-27,3,0,8,0,6,0,2,0.680000,0.635556,0.850000,0.375617,226,889,1115
672,673,2012-11-03,4,1,11,0,6,0,2,0.343333,0.323846,0.491250,0.270529,1029,4109,5138
52,53,2011-02-22,1,0,2,0,2,1,1,0.182222,0.186033,0.577778,0.195683,74,1376,1450
100,101,2011-04-11,2,0,4,0,1,1,2,0.595652,0.565217,0.716956,0.324474,855,2493,3348

In [28]:
# Change type data column date_day from object to datetime in day dataset
hours_df["date_day"] = pd.to_datetime(hours_df["date_day"])

hours_df.info()
hours_df.sample(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instant            17379 non-null  int64
 1   date_day           17379 non-null  datetime64[ns]
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   holiday            17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   workingday         17379 non-null  int64
 9   weather_situation  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  count              17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 2.3 MB

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
13858,13859,2012-08-05,3,1,8,15,0,0,0,1,0.90,0.8182,0.37,0.5224,164,286,450
2113,2114,2011-04-02,2,0,4,22,0,6,0,1,0.32,0.3030,0.61,0.2985,14,41,55
3584,3585,2011-06-03,2,0,6,6,0,5,1,1,0.54,0.5152,0.45,0.2985,8,98,106
5086,5087,2011-08-04,3,0,8,20,0,4,1,2,0.70,0.6667,0.74,0.1940,41,245,286
11562,11563,2012-05-01,2,1,5,23,0,2,1,1,0.60,0.5758,0.78,0.0000,16,79,95
6847,6848,2011-10-17,4,0,10,21,0,1,1,1,0.50,0.4848,0.77,0.1045,36,141,177
14584,14585,2012-09-04,3,1,9,21,0,2,1,1,0.74,0.7121,0.74,0.2537,28,240,268
5452,5453,2011-08-20,3,0,8,2,0,6,0,1,0.62,0.5909,0.78,0.0000,10,59,69
11907,11908,2012-05-16,2,1,5,8,0,3,1,1,0.58,0.5455,0.83,0.0000,33,617,650
16115,16116,2012-11-09,4,1,11,5,0,5,1,1,0.30,0.2879,0.56,0.1940,2,25,27
321,322,2011-01-14,1,0,1,21,0,5,1,1,0.16,0.2273,0.69,0.0000,4,48,52
1508,1509,2011-03-08,1,0,3,5,0,2,1,1,0.20,0.2273,0.69,0.1045,2,8,10
6818,6819,2011-10-16,4,0,10,16,0,0,0,1,0.60,0.6212,0.46,0.3881,177,289,466
17183,17184,2012-12-23,1,1,12,18,0,0,0,1,0.30,0.3030,0.45,0.1642,8,85,93
3589,3590,2011-06-03,2,0,6,11,0,5,1,1,0.64,0.6212,0.31,0.3284,57,135,192

In [29]:
# Change value in coloumn season Day dataset
days_df["season"] = pd.Categorical(
    days_df["season"].replace({1:"Spring", 2: "Summer", 3: "Autumn", 4: "Winter"}), categories=["Spring", "Summer", "Autumn", "Winter"]
)


days_df.sample(10)

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
552,553,2012-07-06,Autumn,1,7,0,5,1,1,0.828333,0.752533,0.450833,0.146142,1366,4841,6207
402,403,2012-02-07,Spring,1,2,0,2,1,1,0.354167,0.361104,0.496250,0.147379,199,4176,4375
517,518,2012-06-01,Summer,1,6,0,5,1,2,0.654167,0.607962,0.755417,0.237563,533,3594,4127
310,311,2011-11-07,Winter,0,11,0,1,1,1,0.395000,0.400871,0.758750,0.057225,373,3662,4035
148,149,2011-05-29,Summer,0,5,0,0,0,1,0.667500,0.615550,0.818750,0.213938,2355,2433,4788
365,366,2012-01-01,Spring,1,1,0,0,0,1,0.370000,0.375621,0.692500,0.192167,686,1608,2294
582,583,2012-08-05,Autumn,1,8,0,0,0,1,0.769167,0.731079,0.652500,0.290421,1707,3757,5464
727,728,2012-12-28,Spring,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
474,475,2012-04-19,Summer,1,4,0,4,1,1,0.498333,0.493046,0.612500,0.065929,846,5719,6565
180,181,2011-06-30,Autumn,0,6,0,4,1,1,0.696667,0.637008,0.434167,0.185312,1027,4488,5515

In [30]:
# Change value in coloumn weather_situation Day dataset
days_df["weather_situation"] = pd.Categorical(
    days_df["weather_situation"].replace({1:"Sunny", 2: "Cloudy", 3: "Light Rain/Snow", 4: "Heavy Rain/Thunderstorm"}), categories=["Sunny", "Cloudy", "Light Rain/Snow", "Heavy Rain/Thunderstorm"]
)

days_df.sample(10)

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
267,268,2011-09-25,Winter,0,9,0,0,0,Cloudy,0.634167,0.572637,0.845000,0.050379,1544,3466,5010
481,482,2012-04-26,Summer,1,4,0,4,1,Cloudy,0.498333,0.483583,0.756667,0.176625,475,4551,5026
195,196,2011-07-15,Autumn,0,7,0,5,1,Sunny,0.663333,0.624371,0.591250,0.182833,1318,4220,5538
4,5,2011-01-05,Spring,0,1,0,3,1,Sunny,0.226957,0.229270,0.436957,0.186900,82,1518,1600
382,383,2012-01-18,Spring,1,1,0,3,1,Sunny,0.303333,0.275254,0.443333,0.415429,109,3267,3376
159,160,2011-06-09,Summer,0,6,0,4,1,Cloudy,0.808333,0.757579,0.568333,0.149883,563,3352,3915
503,504,2012-05-18,Summer,1,5,0,5,1,Sunny,0.564167,0.551121,0.523333,0.136817,1521,6118,7639
691,692,2012-11-22,Winter,1,11,1,4,0,Sunny,0.340000,0.350371,0.580417,0.052871,955,1470,2425
218,219,2011-08-07,Autumn,0,8,0,0,0,Sunny,0.742500,0.715292,0.752917,0.201487,1298,2487,3785
69,70,2011-03-11,Spring,0,3,0,5,1,Cloudy,0.316522,0.305000,0.649565,0.232970,247,1730,1977

In [31]:
# Change value in coloumn weekday Day dataset
days_df["weekday"] = pd.Categorical(
    days_df["weekday"].replace({0: "Sunday", 1:"Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"}), categories=["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
)

days_df.sample(10)

,instant,date_day,season,year,month,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
286,287,2011-10-14,Winter,0,10,0,Friday,1,Cloudy,0.550833,0.529675,0.716250,0.223883,529,3115,3644
362,363,2011-12-29,Spring,0,12,0,Thursday,1,Sunny,0.248333,0.263892,0.574167,0.119412,254,2169,2423
300,301,2011-10-28,Winter,0,10,0,Friday,1,Cloudy,0.330833,0.318812,0.585833,0.229479,456,3291,3747
0,1,2011-01-01,Spring,0,1,0,Saturday,0,Cloudy,0.344167,0.363625,0.805833,0.160446,331,654,985
635,636,2012-09-27,Winter,1,9,0,Thursday,1,Cloudy,0.650000,0.607975,0.690833,0.134342,751,6642,7393
103,104,2011-04-14,Summer,0,4,0,Thursday,1,Sunny,0.467500,0.462742,0.540417,0.110700,529,2738,3267
234,235,2011-08-23,Autumn,0,8,0,Tuesday,1,Sunny,0.640833,0.606067,0.455417,0.146763,1281,4614,5895
708,709,2012-12-09,Winter,1,12,0,Sunday,0,Cloudy,0.384167,0.390146,0.905417,0.157975,441,2787,3228
489,490,2012-05-04,Summer,1,5,0,Friday,1,Sunny,0.627500,0.590917,0.735417,0.162938,1069,5227,6296
580,581,2012-08-03,Autumn,1,8,0,Friday,1,Cloudy,0.765833,0.722867,0.642500,0.215792,1328,5847,7175

In [32]:
# Change value in coloumn season Hour dataset
hours_df["season"] = pd.Categorical(
    hours_df["season"].replace({1:"Spring", 2: "Summer", 3: "Autumn", 4: "Winter"}), categories=["Spring", "Summer", "Autumn", "Winter"]
)


hours_df.sample(15)

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
3890,3891,2011-06-16,Summer,0,6,0,0,4,1,1,0.60,0.6212,0.56,0.1045,9,38,47
12530,12531,2012-06-11,Summer,1,6,7,0,1,1,1,0.64,0.5909,0.78,0.1045,25,478,503
14686,14687,2012-09-09,Autumn,1,9,3,0,0,0,1,0.54,0.5152,0.73,0.2239,14,32,46
9692,9693,2012-02-13,Spring,1,2,19,0,1,1,1,0.34,0.3333,0.25,0.1343,7,256,263
17202,17203,2012-12-24,Spring,1,12,14,0,1,1,3,0.24,0.2576,0.87,0.1045,13,33,46
16550,16551,2012-11-27,Winter,1,11,8,0,2,1,3,0.32,0.3182,0.81,0.1642,6,494,500
5827,5828,2011-09-05,Autumn,0,9,6,1,1,0,2,0.66,0.6212,0.74,0.1343,6,5,11
12017,12018,2012-05-20,Summer,1,5,22,0,0,0,1,0.62,0.5909,0.73,0.3284,44,101,145
11151,11152,2012-04-14,Summer,1,4,20,0,6,0,2,0.56,0.5303,0.46,0.1343,112,209,321
6293,6294,2011-09-24,Winter,0,9,19,0,6,0,1,0.62,0.5606,0.88,0.0000,77,231,308
3006,3007,2011-05-10,Summer,0,5,4,0,2,1,1,0.42,0.4242,0.62,0.2537,0,2,2
13362,13363,2012-07-15,Autumn,1,7,23,0,0,0,1,0.72,0.6970,0.79,0.1343,25,66,91
7959,7960,2011-12-03,Winter,0,12,7,0,6,0,1,0.22,0.2576,0.75,0.0896,2,24,26
6971,6972,2011-10-23,Winter,0,10,2,0,0,0,1,0.34,0.3485,0.87,0.0896,10,40,50
2676,2677,2011-04-26,Summer,0,4,10,0,2,1,1,0.66,0.6212,0.69,0.3582,22,98,120

In [33]:
# Change value in coloumn weather_situation Day dataset
hours_df["weather_situation"] = pd.Categorical(
    hours_df["weather_situation"].replace({1:"Sunny", 2: "Cloudy", 3: "Light Rain/Snow", 4: "Heavy Rain/Thunderstorm"}), categories=["Sunny", "Cloudy", "Light Rain/Snow", "Heavy Rain/Thunderstorm"]
)

hours_df.sample(10)

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
11822,11823,2012-05-12,Summer,1,5,19,0,6,0,Cloudy,0.64,0.6212,0.36,0.1642,166,273,439
2631,2632,2011-04-24,Summer,0,4,13,0,0,0,Sunny,0.70,0.6515,0.58,0.2836,205,236,441
6777,6778,2011-10-14,Winter,0,10,23,0,5,1,Sunny,0.46,0.4545,0.59,0.1642,15,80,95
12589,12590,2012-06-13,Summer,1,6,18,0,3,1,Sunny,0.72,0.6515,0.32,0.4478,104,640,744
7683,7684,2011-11-21,Winter,0,11,18,0,1,1,Light Rain/Snow,0.42,0.4242,0.88,0.1940,8,184,192
14673,14674,2012-09-08,Autumn,1,9,14,0,6,0,Sunny,0.82,0.7727,0.52,0.4478,260,366,626
1917,1918,2011-03-25,Summer,0,3,16,0,5,1,Cloudy,0.34,0.3030,0.34,0.2985,23,127,150
7767,7768,2011-11-25,Winter,0,11,6,0,5,1,Sunny,0.26,0.2727,0.81,0.1045,4,9,13
1485,1486,2011-03-07,Spring,0,3,6,0,1,1,Sunny,0.20,0.1818,0.75,0.3881,3,31,34
9138,9139,2012-01-21,Spring,1,1,16,0,6,0,Cloudy,0.20,0.1818,0.80,0.2985,5,113,118

In [34]:
# Change value in coloumn weekday Hours dataset
hours_df["weekday"] = pd.Categorical(
    hours_df["weekday"].replace({0:"Sunday",1:"Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"}), categories=["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
)

hours_df.sample(10)

,instant,date_day,season,year,month,hour,holiday,weekday,workingday,weather_situation,temp,atemp,humidity,windspeed,casual,registered,count
1003,1004,2011-02-14,Spring,0,2,11,0,Monday,1,Sunny,0.52,0.5000,0.23,0.2537,10,43,53
9478,9479,2012-02-04,Spring,1,2,20,0,Saturday,0,Light Rain/Snow,0.24,0.2273,0.93,0.1940,4,73,77
11919,11920,2012-05-16,Summer,1,5,20,0,Wednesday,1,Sunny,0.66,0.6212,0.65,0.2537,61,398,459
6135,6136,2011-09-18,Autumn,0,9,5,0,Sunday,0,Sunny,0.44,0.4394,0.77,0.2239,1,5,6
9799,9800,2012-02-18,Spring,1,2,6,0,Saturday,0,Sunny,0.24,0.2879,0.70,0.0000,1,8,9
4512,4513,2011-07-11,Autumn,0,7,22,0,Monday,1,Sunny,0.72,0.6970,0.74,0.1343,20,70,90
15167,15168,2012-09-29,Winter,1,9,4,0,Saturday,0,Sunny,0.52,0.5000,0.59,0.2537,6,8,14
13453,13454,2012-07-19,Autumn,1,7,18,0,Thursday,1,Sunny,0.86,0.7879,0.41,0.1940,93,684,777
5432,5433,2011-08-19,Autumn,0,8,6,0,Friday,1,Sunny,0.64,0.5758,0.83,0.0000,2,91,93
5320,5321,2011-08-14,Autumn,0,8,14,0,Sunday,0,Sunny,0.74,0.6970,0.70,0.1940,126,244,370

In [ ]:
# Sum of rent by weather situation
days_df.groupby('weather_situation', observed=True)["count"].agg(['mean','sum', 'min', 'max'])

In [ ]:
days_df.describe()

In [55]:
# See information windspeed can impact bike usage
days_df["windspeed_quality"] = days_df["windspeed"].apply(lambda x: "High" if x >= 0.5 else "low")


days_df.groupby(by="windspeed_quality")["count"].agg('sum')

windspeed_quality
High       1635
low     3291044
Name: count, dtype: int64